<form [formGroup]="formName">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{field.label}}</mat-label>
    <input matInput [formControlName]="field.name" [type]="field.type">
    <mat-error>{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</form>
<button mat-fab color="primary" (click)="getISBN()">
  <mat-icon>photo_camera</mat-icon>
</button>
<button mat-fab color="primary" (click)="findByISBN()">
  <mat-icon>cloud_download</mat-icon>
</button>

<dialog #dialog>
  <video #isbn_video autoplay></video>
</dialog>