#merge-data-dialog{
  // max-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 4rem;
  // overflow: hidden;
  justify-content: center;
  align-items: center;
  mat-slide-toggle{
    width: 100%;
    margin-bottom: 2rem;
  }
}
.mat-mdc-dialog-surface{
  overflow: visible;
}