<header>
  <mat-toolbar>
    <button mat-raised-button color="primary" (click)="goToList()">{{"common.list" | translate}}</button>
    <button mat-raised-button color="primary" (click)="addNew()">{{"common.add_new" | translate}}</button>
    <button mat-raised-button color="primary" (click)="goUser()" disabled>{{"common.user" | translate}}</button>
    @if(this.userService.getCacheToken()){
      <button mat-raised-button color="primary" (click)="logout()">{{"common.logout" | translate}}</button>
    }
  </mat-toolbar>
</header>